@model Patient
@{
    ViewData["Title"] = "Patient - Create";
}
<h1>@ViewData["Title"]</h1>
<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label class="form-label" asp-for="Person.FirstName"></label>
        <input class="form-control" asp-for="Person.FirstName">
        <span asp-validation-for="Person.FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Person.LastName"></label>
        <input class="form-control" asp-for="Person.LastName">
        <span asp-validation-for="Person.LastName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="BirthNumber"></label>
        <input class="form-control" asp-for="BirthNumber">
        <span asp-validation-for="BirthNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="HealthInsurance"></label>
        <input class="form-control" asp-for="HealthInsurance">
        <span asp-validation-for="HealthInsurance" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/validations/FirstLetterCapitalizedCZ.js"></script>
    <script src="~/js/Validations/FileContentValidation.js"></script>
}