<ul>
    <li><a href="/Patient/Index">Patients</a></li>
    <li><a href="/Doctor/Index">Doctors</a></li>
    <li><a href="/Admin/Patient/Index">Admin Patients</a></li>  <!-- Odkaz pro Admin Patients -->
</ul>
