@{
ViewData["Title"] = "Home";
}

<h1>Welcome to HospitalSystem</h1>

<p>Navigate to the desired section:</p>
<ul>
    <!-- Odkaz na Admin Patients v Admin Area -->
    <li><a href="/Admin/Patient/Index">Admin Patients</a></li>
</ul>
